.kanban-board {
  display: flex;
  gap: 16px;
  padding: 20px;
  align-items: flex-start;
}

.kanban-column {
  flex: 1;
  border: 2px dashed #ccc;
  padding: 16px;
  border-radius: 8px;
  min-height: 300px;
  transition: background-color 0.3s;
}

.kanban-column.hovered {
  background-color: #f0f4ff;
  border-color: #3f51b5;
}

.kanban-task {
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  cursor: grab;
}

.add-task{
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 200px;
  color: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

.users-on-project{
  display: flex;
  flex-direction: column;
}

.project-users-header{
  margin:0;
  padding-right: 20px;
}

.add-task-and-users-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-user {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 200px;
  color: white;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
