<div class="login-container">
<p>Login</p>
<form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
  <label for="username">Username: </label>
  <input id="username" name="username" type="text" formControlName="username" required />
  </div>
  <div>
  <label for="password">Password: </label>
  <input id="password" name="password" type="password" formControlName="password" required />
  </div>
  <button type="submit">Submit</button>
</form>

</div>

<div *ngIf="loginError" class="login-error-message">
  Login failed. Please try again.
</div>
