.organisation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.add-project {
  border: solid 1px #ddd;
  padding: 1rem;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  max-width: 200px;
  margin-bottom: 2rem;
  gap: 1rem;
}
.projects{
  flex: 2;
}

.users {
  flex: 1;
}

.card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2, h3 {
  margin-bottom: 0.5rem;
}
